.DS_Store
Build/Filevault Server.app
Build/Filevault.app
Build/FileVault_Client.pkg
Webapp/fvserver/fvserver/settings.py
*.pyc
Webapp/fvserver/fvserver.db
Build/Crypt.app

*.xcuserstate

Crypt.xcodeproj/xcuserdata/abanks.xcuserdatad/xcschemes/Crypt.xcscheme

Crypt.xcodeproj/xcuserdata/abanks.xcuserdatad/xcschemes/xcschememanagement.plist

Build/Crypt.build

Build/Release
Crypt.xcodeproj/project.xcworkspace/xcuserdata/*

*.pkg

*.pkg
